# Antibiotic resistance prediction

## Project Introduction
This project aims to predict antibiotic resistance using structured electronic health record (EHR) data from the Antibiotic Resistance Microbiology Dataset (ARMD). The goal is to classify whether a bacterial isolate is susceptible (S) or resistant (R) to a given antibiotic, based on clinical, demographic, microbiological, and treatment-related features. This binary classification model supports empirical antibiotic selection and contributes to combating antimicrobial resistance in clinical settings.

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

final_armd_ds = 'ARMD_Dataset/selected_features_output.parquet'

df = pd.read_parquet(final_armd_ds)
print(df.shape)

(2184195, 27)

### Separate target + binary encoding

In [5]:
target_col = 'susceptibility_label'
df[target_col] = df[target_col].map({'S': 0, 'R': 1})  
y = df[target_col]
X = df.drop(columns=[target_col])
print('y: ',y.shape)
print('X: ',X.shape)

y:  (2184195,)
X:  (2184195, 26)

### Identify column types

In [7]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2184195 entries, 0 to 2184194
Data columns (total 26 columns):
 #   Column                          Dtype
---  ------                          -----
 0   organism_x                      string
 1   antibiotic_x                    string
 2   resistant_time_to_culturetime   float64
 3   age                             string
 4   gender                          string
 5   adi_score                       string
 6   adi_state_rank                  string
 7   median_wbc                      string
 8   median_neutrophils              string
 9   median_lymphocytes              string
 10  median_hgb                      string
 11  median_plt                      string
 12  median_na                       string
 13  median_hco3                     string
 14  median_bun                      string
 15  median_cr                       string
 16  median_lactate                  string
 17  median_procalcitonin            string
 18  median_heartrate                float32
 19  median_resprate                 float32
 20  median_temp                     float32
 21  median_sysbp                    float32
 22  median_diasbp                   float32
 23  medication_category             string
 24  medication_time_to_culturetime  float64
 25  nursing_home_visit_culture      float64
dtypes: float32(5), float64(3), string(18)
memory usage: 391.6 MB

In [8]:
categorical_cols = X.select_dtypes(include=['string']).columns
numeric_cols = X.select_dtypes(include=['number']).columns
print(f'categorical_cols: {categorical_cols}')
print('--------------------------------------------')
print(f'numeric_cols: {numeric_cols}')

categorical_cols: Index(['organism_x', 'antibiotic_x', 'age', 'gender', 'adi_score',
       'adi_state_rank', 'median_wbc', 'median_neutrophils',
       'median_lymphocytes', 'median_hgb', 'median_plt', 'median_na',
       'median_hco3', 'median_bun', 'median_cr', 'median_lactate',
       'median_procalcitonin', 'medication_category'],
      dtype='object')
--------------------------------------------
numeric_cols: Index(['resistant_time_to_culturetime', 'median_heartrate', 'median_resprate',
       'median_temp', 'median_sysbp', 'median_diasbp',
       'medication_time_to_culturetime', 'nursing_home_visit_culture'],
      dtype='object')

## Frequency counts

In [10]:
for cat_col in categorical_cols:
    print(X[cat_col].value_counts())

organism_x
PSEUDOMONAS AERUGINOSA                                             2017924
KLEBSIELLA PNEUMONIAE                                               103259
ESCHERICHIA COLI                                                     32539
ENTEROCOCCUS FAECALIS                                                 9373
STAPHYLOCOCCUS AUREUS                                                 3459
STAPH AUREUS {MRSA}                                                   3175
ENTEROCOCCUS SPECIES                                                  2852
COAG NEGATIVE STAPHYLOCOCCUS                                          2212
ZZZPROTEUS VULGARIS                                                   2048
MUCOID PSEUDOMONAS AERUGINOSA                                         1709
PROTEUS MIRABILIS                                                     1144
ENTEROBACTER CLOACAE COMPLEX                                           734
STREPTOCOCCUS AGALACTIAE (GROUP B)                                     500
KLEBSIELLA OXYTOCA                                                     461
RAOULTELLA                                                             400
ZZZENTEROBACTER AEROGENES                                              263
KLEBSIELLA AEROGENES                                                   239
STREPTOCOCCUS PNEUMONIAE                                               228
SERRATIA MARCESCENS                                                    208
STREPTOCOCCUS ANGINOSUS GROUP                                          196
CITROBACTER KOSERI                                                     196
STREPTOCOCCUS AGALACTIAE {GROUP B}                                     107
PROTEUS VULGARIS GROUP                                                  84
MORGANELLA MORGANII                                                     78
ACHROMOBACTER XYLOSOXIDANS                                              78
CITROBACTER FREUNDII COMPLEX                                            74
STREPTOCOCCUS MITIS GROUP                                               70
STREPTOCOCCUS PYOGENES (GROUP A)                                        63
BACTEROIDES FRAGILIS                                                    60
LACTOSE FERMENTING GRAM NEGATIVE RODS                                   54
ENTEROCOCCUS FAECIUM -  VANCO RESISTANT                                 40
MYCOBACTERIUM ABSCESSUS GROUP                                           40
STREPTOCOCCUS GALLOLYTICUS                                              27
STENOTROPHOMONAS MALTOPHILIA                                            26
STAPHYLOCOCCUS SPECIES - COAG NEGATIVE, NOT STAPH SAPROPHYTICUS         21
ACINETOBACTER BAUMANNII                                                 18
ALCALIGENES FAECALIS                                                    18
ENTEROBACTER CLOACAE                                                    18
NON FERMENTING GRAM NEGATIVE RODS                                       18
CITROBACTER FREUNDII COMPLEX (CARBAPENEM RESISTANT)                     16
ENTEROCOCCUS FAECIUM                                                    16
MYCOBACTERIUM AVIUM COMPLEX                                             16
STREPTOCOCCUS DYSGALACTIAE                                              15
ZZZCITROBACTER AMALONATICUS                                             15
PROTEUS SPECIES                                                         13
STREPTOCOCCUS MUTANS GROUP                                              12
HAFNIA                                                                  10
STREPTOCOCCUS ANGINOSUS                                                 10
CITROBACTER KOSERI (CARBAPENEM RESISTANT)                               10
CHRYSEOBACTERIUM INDOLOGENES                                             9
VIRIDANS GROUP STREPTOCOCCI                                              9
RAOULTELLA ORNITHINOLYTICA                                               8
BETA STREPTOCOCCUS GROUP C                                               8
PSEUDOMONAS SPECIES - FLUORESCENS/PUTIDA GROUP                           7
CORYNEBACTERIUM SPECIES                                                  4
CORYNEBACTERIUM UREALYTICUM                                              4
Name: count, dtype: Int64
antibiotic_x
Imipenem                         1930574
Amikacin                           86295
Trimethoprim/Sulfamethoxazole      78123
Tetracycline                       25475
Ampicillin                         11642
Cefoxitin                          10086
Tobramycin                          6651
Vancomycin                          5029
Gentamicin                          4662
Levofloxacin                        2957
Amoxicillin/Clavulanic Acid         2773
Ertapenem                           2100
Ciprofloxacin                       2006
Meropenem                           1988
Linezolid                           1507
Nitrofurantoin                      1474
Piperacillin                        1472
Ceftriaxone                         1351
Cefazolin                           1317
Piperacillin/Tazobactam             1004
Ceftazidime                          835
Penicillin                           713
Erythromycin                         702
Cefepime                             630
Clindamycin                          565
Ampicillin/Sulbactam                 549
Ceftaroline                          442
Oxacillin                            403
Moxifloxacin                         361
Aztreonam                            185
Daptomycin                           132
Cefuroxime                            80
Doxycycline                           70
Fosfomycin                            20
Cefotetan                             13
Clarithromycin                         9
Name: count, dtype: Int64
age
55-64 years    1939722
18-24 years     115062
45-54 years      87107
25-34 years      12806
65-74 years      12057
75-84 years       9525
35-44 years       3855
above 90          2129
85-89 years       1932
Name: count, dtype: Int64
gender
1    1957622
0     226573
Name: count, dtype: Int64
adi_score
40      1930291
1         94704
3         87267
Null      41051
2          8375
6          5402
21         2651
5          2564
4          2288
20         1684
14          813
71          780
10          496
29          410
31          402
7           345
30          307
8           303
15          277
19          259
50          249
9           215
12          195
36          190
11          189
68          180
44          171
51          150
16          149
35          135
28          133
43          125
27          120
18          111
41           99
60           96
32           91
64           81
79           80
58           75
13           64
33           56
47           54
62           51
34           46
52           45
38           44
17           40
25           38
23           34
42           33
59           33
45           32
26           30
53           21
48           21
24           21
46           14
22           12
49            3
Name: count, dtype: Int64
adi_state_rank
9       1931367
1         97481
2         95233
Null      41051
3          8328
7          4655
10         1879
8          1446
6          1390
4          1039
5           326
Name: count, dtype: Int64
median_wbc
11.7    1809678
7.6       79992
4.6       72450
10.2      60492
9.5       60335
         ...
19.1         12
12.4         12
30.7         12
12.9         11
18.7         10
Name: count, Length: 179, dtype: Int64
median_neutrophils
79.0    1809600
Null     175195
40.0      79920
32.2      72450
16.0      19040
75.0       2484
13.2       2160
13.0       2028
70.0       1555
12.0       1401
8.0        1320
31.5       1200
92.0        442
28.0        390
34.0        360
54.0        288
37.0        288
4.0         233
91.0        220
40.9        174
17.0        150
7.0         148
10.0        146
83.0        108
33.0        104
26.0         96
21.0         87
20.0         81
69.0         80
11.0         60
9.0          60
4.3          56
47.0         52
42.0         52
6.0          47
38.4         45
18.0         45
6.8          42
69.4         36
0.0          33
27.0         30
15.0         27
29.0         24
95.0         24
66.6         24
94.0         20
86.0         20
77.1         15
30.4         13
50.0         12
37.4         11
31.0         10
97.0          5
Name: count, dtype: Int64
median_lymphocytes
1.0      1809872
Null      174355
11.0       79920
10.3       72450
7.0        19689
3.0         3050
4.0         2552
14.0        2160
21.0        1540
0.9         1320
57.0        1296
2.5         1230
22.4         780
2.0          324
10.9         288
12.0         257
0.0          240
2.6          174
8.0          159
22.0          87
9.0           81
18.0          60
9.6           56
39.0          56
13.4          52
1.3           45
23.0          45
74.0          45
49.0          45
16.0          39
34.0          33
25.1          28
20.2          24
28.0          24
73.0          20
15.0          18
100.0         17
32.9          15
1.8           15
5.0           15
35.0          12
12.2          11
29.6           8
6.0            4
Name: count, dtype: Int64
median_hgb
8500.0     1811086
8000.0       92908
7900.0       81336
10100.0      60875
10300.0      60768
            ...
15900.0         24
14700.0         24
7000.0          17
17400.0         14
14600.0          9
Name: count, Length: 90, dtype: Int64
median_plt
263.0    1809902
330.0      79930
114.0      72450
167.0      60572
222.0      60394
          ...
172.0          6
623.0          5
192.0          5
496.0          5
299.0          4
Name: count, Length: 299, dtype: Int64
median_na
135.0    1811888
133.0     128049
138.0      90013
144.0      73373
141.0      22645
132.0      11223
136.0       6502
137.0       5556
142.0       5068
139.0       3819
130.0       2868
143.0       2350
134.0       1980
140.0       1624
154.0       1296
145.0        746
Null         589
131.0        521
124.0        500
146.0        400
150.0        368
128.0        299
129.0        227
125.0        140
127.0        132
126.0        128
151.0        100
147.0         42
149.0         32
170.0         21
123.0         12
Name: count, dtype: Int64
median_hco3
23.0    1939057
28.0      83307
18.0      72715
22.0      23211
20.0      12246
29.0       9471
26.0       7713
24.0       6335
21.0       4067
27.0       3862
30.0       3043
25.0       2649
32.0       1219
17.0        901
Null        603
16.0        551
19.0        518
31.0        487
39.0        222
13.0         90
28.3         45
33.0         40
38.0         35
15.0         32
44.0         30
42.0         26
30.3         26
36.0         10
Name: count, dtype: Int64
median_bun
52.0     1809912
12.0       89447
19.0       73458
59.0       60325
69.0       60320
          ...
54.0          21
60.0          16
140.0         15
146.0         12
46.0          12
Name: count, Length: 64, dtype: Int64
median_cr
1.9     1809766
0.3       84246
0.79      72497
2.41      60392
2.33      60360
         ...
2.55          9
0.37          8
0.31          6
3.0           6
1.8           5
Name: count, Length: 152, dtype: Int64
median_lactate
1.5     1809667
Null      99201
0.9       80906
2.8       79920
1.3       61006
         ...
0.72          8
0.88          8
2.0           8
1.05          6
1.41          5
Name: count, Length: 118, dtype: Int64
median_procalcitonin
1.27      1809600
Null       175038
0.3         82424
0.5         73160
1.9         19040
0.32         8400
0.25         1240
0.42         1230
27.6          360
0.16          234
27.8          220
0.4           216
0.05          168
3.96          140
88.7          108
2.1           108
0.04          104
2.21           98
4.1            87
4.89           81
172.04         72
1.8            56
38.1           52
0.44           40
0.67           40
3.41           36
0.92           30
0.74           28
4.51           24
0.1            24
0.12           20
0.2            18
0.9            15
Name: count, dtype: Int64
medication_category
CEF     821207
MET1    334919
GEN1    293178
LIN     289671
CIP3    196037
VAN     104531
CEF6     97251
LEV       8414
CEF2      1394
ERT        691
AZT1       226
AMP1         9
Name: count, dtype: Int64

### Clean, Preprocess + Apply One-Hot Encoding to categorical columns (with frequency filtering)

#### Replace string placeholders for missing values
- Ensures consistent handling of missing values using np.nan, which is understood by sklearn and pandas tools

In [13]:
import pandas as pd
import numpy as np

# Replace known missing indicators
X = X.replace("Null", np.nan)
X = X.astype(object).where(pd.notna(X), np.nan)

### Identify Categorical vs. Numerical Columns
Enables applying appropriate preprocessing strategies for each data type:
- **Categorical columns:** `organism_x`, `antibiotic_x`, `gender`, `age`, `medication_category`, `adi_state_rank`, `adi_score`
- **Numerical columns:** everything starting with `median_` (like `median_wbc`, `median_cr`, etc.), and maybe adi_score I will treat it as continuous (for now).

In [15]:
# Define columns
cat_cols = ['organism_x', 'antibiotic_x', 'gender', 'age', 'medication_category', 'adi_state_rank', 'adi_score']
num_cols = [col for col in X.columns if col.startswith('median_')]

### Impute Missing Values
Fill missing values in **categorical columns** with the most frequent value.
- Prevents models from breaking due to missing categories, and avoids introducing bias from arbitrary imputation

Fill missing values in **numerical columns** with the mean.

- Ensures numerical columns are fully numeric and avoids dropping rows or using biased constants

In [17]:
# Impute missing values
X[cat_cols] = SimpleImputer(strategy='most_frequent').fit_transform(X[cat_cols])
X[num_cols] = SimpleImputer(strategy='mean').fit_transform(X[num_cols])

## Frequency filtering
Group rare categories into a common value (`__OTHER__`)
- Reduces dimensionality and sparsity of one-hot vectors; improves model generalization and memory usage.

In [19]:
# Frequency filtering
MIN_FREQ = 100
for col in cat_cols:
    value_counts = pd.Series(X[col]).value_counts()
    to_keep = value_counts[value_counts >= MIN_FREQ].index
    X[col] = pd.Series(X[col]).where(pd.Series(X[col]).isin(to_keep), other='__OTHER__')

### One-hot encode categorical columns
Converts categorical data to numeric while avoiding multicollinearity (`drop_first=True`)

In [21]:
# Now ready for one-hot encoding
X = pd.get_dummies(X, columns=cat_cols, drop_first=True)

### Checklist to verify everything is correctly processed before modeling

#### Chck If Missing Values Are Handled

In [24]:
X.head()

,resistant_time_to_culturetime,median_wbc,median_neutrophils,median_lymphocytes,median_hgb,median_plt,median_na,median_hco3,median_bun,median_cr,...,adi_score_5,adi_score_50,adi_score_51,adi_score_6,adi_score_68,adi_score_7,adi_score_71,adi_score_8,adi_score_9,adi_score___OTHER__
0,NaN,6.2,74.790045,1.892448,12000.0,149.0,141.0,29.0,22.0,0.9,...,False,False,False,False,False,False,False,False,False,True
1,NaN,6.2,74.790045,1.892448,12000.0,149.0,141.0,29.0,22.0,0.9,...,False,False,False,False,False,False,False,False,False,True
2,NaN,6.2,74.790045,1.892448,12000.0,149.0,141.0,29.0,22.0,0.9,...,False,False,False,False,False,False,False,False,False,True
3,NaN,6.2,74.790045,1.892448,12000.0,149.0,141.0,29.0,22.0,0.9,...,False,False,False,False,False,False,False,False,False,True
4,NaN,6.2,74.790045,1.892448,12000.0,149.0,141.0,29.0,22.0,0.9,...,False,False,False,False,False,False,False,False,False,True

In [25]:
print(X.isnull().sum().sum())  # Should return 0

2249379

OMG i have huge red flag: i still have over 2.2 million missing values in my dataset after running all that code. 
😭 i have to debug this step-by-step to find why missing values remain.

In [26]:
print(X.dtypes)

resistant_time_to_culturetime     object
median_wbc                       float64
median_neutrophils               float64
median_lymphocytes               float64
median_hgb                       float64
                                  ...
adi_score_7                         bool
adi_score_71                        bool
adi_score_8                         bool
adi_score_9                         bool
adi_score___OTHER__                 bool
Length: 134, dtype: object