In [29]:
import numpy as np
import pandas as pd

data = [
    [1,None,2],
    [4,2,None],
    [7,None,None],
    [None,3,None],
    [8,1,7]]
columns = ['A','B','C']

df = pd.DataFrame(data=data,columns= columns )
print(df.info())
print('---------------------------------------------')
print(df.head())
print('---------------------------------------------')
print(df.dropna(thresh=2))
print('---------------------------------------------')
print(df.isna())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       3 non-null      float64
 2   C       2 non-null      float64
dtypes: float64(3)
memory usage: 252.0 bytes
None
---------------------------------------------
     A    B    C
0  1.0  NaN  2.0
1  4.0  2.0  NaN
2  7.0  NaN  NaN
3  NaN  3.0  NaN
4  8.0  1.0  7.0
---------------------------------------------
     A    B    C
0  1.0  NaN  2.0
1  4.0  2.0  NaN
4  8.0  1.0  7.0
---------------------------------------------
       A      B      C
0  False   True  False
1  False  False   True
2  False   True   True
3   True  False   True
4  False  False  False

In [35]:
print(df['B'].isna().sum())

2

In [39]:
print(df['A'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: A
Non-Null Count  Dtype
--------------  -----
4 non-null      float64
dtypes: float64(1)
memory usage: 172.0 bytes
None